<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Student Detail</title>
    <link
      rel="stylesheet"
      type="text/css"
      th:href="@{/css/bootstrap.min.css}"
    />
  </head>
  <body>
    <div class="container">
      <div class="card">
        <div class="card-header"><h3 th:text="${member.name}"></h3></div>
        <div class="card-body">
          <h5 style="text-transform: uppercase;" class="card-title ">Chi tiết thành viên</h5>
          <table>
            <tr>
              <th>Họ tên:</th>
              <td class="pl-5" th:text="${member.name}"></td>
            </tr>
            <tr>
              <th>Ngày sinh:</th>
              <td class="pl-5" th:text="${#dates.format(member.birthDate, 'dd/MM/yyyy')}"></td>
            </tr>
            <tr>
              <th>Giới tính:</th>
              <td class="pl-5" th:text="${member.female} ? 'Nữ' : 'Nam'"></td>
            </tr>
            <tr>
              <th>Trình độ văn hoá:</th>
              <td class="pl-5">
              	<span th:if="${member.degree == 'phothong'}">Tốt nghiệp phổ thông</span>
              	<span th:if="${member.degree == 'caodang'}">Cao đẳng</span>
              	<span th:if="${member.degree == 'daihoc'}">Đại học</span>
              	<span th:if="${member.degree == 'thacsi'}">Thạc sĩ</span>
              	<span th:if="${member.degree == 'tiensi'}">Tiến sĩ</span>
              </td>
            </tr>
            <tr>
              <th>Địa chỉ:</th>
              <td class="pl-5">
              	<span th:if="${member.address == 'hcm'}">TP Hồ Chí Minh</span>
              	<span th:if="${member.address == 'dn'}">Đà Nẵng</span>
              	<span th:if="${member.address == 'hue'}">Huế</span>
              	<span th:if="${member.address == 'hn'}">Hà Nội</span>
              </td>
            </tr>
            <tr>
              <th>Điện thoại:</th>
              <td class="pl-5" th:text="${member.phone}"></td>
            </tr>
            <tr>
              <th>Địa chỉ Email:</th>
              <td class="pl-5" th:text="${member.email}"></td>
            </tr>
            <tr>
              <td class="pt-3" colspan="2">
								<a th:href="@{/}" class="btn btn-outline-primary text-primary"
                >Danh sách thành viên</a
              >
							</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </body>
  <script th:src="@{/js/jquery.min.js}"></script>
  <script th:src="@{/js/bootstrap.min.js}"></script>
</html>
