<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>New Student</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
	<div class="container">
		<form th:action="@{/newMember}" th:object="${member}" method="POST">
			<div class="row">
				<div class="col-sm-12 d-flex justify-content-center">
					<nav class="navbar navbar-light bg-light">
						<span class="navbar-brand h1">Đăng ký thành viên</span>
					</nav>
				</div>
			</div>
			<div class="row mt-2">
				<label for="email" class="col-sm-3 col-form-label text-right">*Địa chỉ Email</label>
				<div class="col-sm-6">
					<input type="email" class="form-control mb-1" id="email"
						 th:field="*{email}">
				 	<p class="alert alert-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">
				 	<p class="alert alert-danger" th:if="${errorMg}"  th:text="${errorMg}"></p>
				</div>
			</div>
			<div class="row mt-2">
				<label for="password" class="col-sm-3 col-form-label text-right">*Mật khẩu</label>
				<div class="col-sm-6">
					<input type="password" class="form-control mb-1" id="password"
						 th:field="*{password}">
					<p id="mgpass" class="alert alert-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">
				</div>
			</div>
			<div class="row mt-2">
				<label for="repassword" class="col-sm-3 col-form-label text-right">*Nhập lại mật khẩu</label>
				<div class="col-sm-6 text-left">
					<input type="password" class="form-control mb-1" id="repassword" th:field="*{repassword}">
					<p id="mgrepass" class="alert alert-danger" th:if="${#fields.hasErrors('repassword')}" th:errors="*{repassword}">
				</div>
			</div>
			<div class="row mt-2">
				<label for="name" class="col-sm-3 col-form-label text-right">*Họ tên</label>
				<div class="col-sm-6 text-left">
					<input type="text" class="form-control mb-1" id="name" th:field="*{name}">
					<p class="alert alert-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">
				</div>
			</div>
			<div class="row mt-2">
				<label for="birthDate" class="col-sm-3 col-form-label text-right">*Ngày sinh</label>
				<div class="col-sm-6">
					<input type="date" class="form-control mb-1" id="birthDate" th:field="*{birthDate}" >
					<p class="alert alert-danger" th:if="${#fields.hasErrors('birthDate')}" th:errors="*{birthDate}">
				</div>
			</div>
			<div class="row mt-2">
				<label for="address" class="col-sm-3 col-form-label text-right">Giới tính</label>
				<div class="col-sm-6 d-flex justify-content-start align-items-center">
					<input type="checkbox" id="female" th:field="*{female}"> <span class="ml-3">Nữ</span>
				</div>
			</div>
			<div class="row mt-2">
				<label for="depName" class="col-sm-3 col-form-label text-right">Trình độ văn hoá</label>
				<div class="col-sm-6">
					<select class="form-control" th:field="*{degree}" id="degree">
						<option th:value="''" >Chọn...</option>
						<option th:value="'phothong'" >Tốt nghiệp phổ thông</option>
						<option th:value="'caodang'" >Cao đẳng</option>
						<option th:value="'daihoc'" >Đại học</option>
						<option th:value="'thacsi'" >Thạc sĩ</option>
						<option th:value="'tiensi'" >Tiến sĩ</option>
					</select>
				</div>
			</div>
			
			<div class="row mt-2">
				<label for="depName" class="col-sm-3 col-form-label text-right">Địa chỉ</label>
				<div class="col-sm-6">
					<select class="form-control"  th:field="*{address}" id="address">
						<option th:value="''" >Chọn...</option>
						<option th:value="'hcm'">TP Hồ Chí Minh</option>
						<option th:value="'dn'">Đà Nẵng</option>
						<option th:value="'hue'">Huế</option>
						<option th:value="'hn'">Hà Nội</option>
					</select>
				</div>
			</div>
			
			<div class="row mt-2">
				<label for="depName" class="col-sm-3 col-form-label text-right">Điện thoại</label>
				<div class="col-sm-6">
					<input type="tel" class="form-control" id="phone"
						 th:field="*{phone}">
				</div>
			</div>
			<div class="row mt-3">
				<div class="col-sm d-flex justify-content-center">
					<button id="btnSubmit" type="submit" class="btn btn-primary mr-3">Submit</button>
					<a th:href="@{/}" class="btn btn-outline-danger">Huỷ bỏ</a>
				</div>
			</div>
		</form>
	</div>
</body>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script type="text/javascript">
$(function () {
    $("#btnSubmit").click(function () {
        var password = $("#password").val();
        var confirmPassword = $("#repassword").val();
        if (password != confirmPassword) {
            alert("Mật khẩu không tương ứng.Thử lại.");
            return false;
        }
        return true;
    });
});
	
</script>
</html>