<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Student Manager</title>
    <link
      rel="stylesheet"
      type="text/css"
      th:href="@{/css/bootstrap.min.css}"
    />
  </head>
  <body>
        <div class="row mt-5 w-100" id="maincont">
          <div class="col-sm">
            <table class="table table-stripped table-bordered">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Họ tên</th>
                  <th scope="col">Ngày sinh</th>
                  <th scope="col">Giới tính</th>
                  <th scope="col">Email</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="mem:${members}">
                  <td th:text="${mem.name}"></td>
                  <td
                    th:text="${#dates.format(mem.birthDate, 'dd/MM/yyyy')}"
                  ></td>
                  <td th:text="${mem.female} ? 'Nữ' : 'Nam'"></td>
                  <td>
                    <a
                      th:href="@{/memberDetail(id=${mem.id})}"
                      th:text="${mem.email}"
                    ></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
  </body>
  <script th:src="@{/js/jquery.min.js}"></script>
  <script th:src="@{/js/bootstrap.min.js}"></script>
  
</html>
